* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #E5E5E5;
}

#root{
  width: 550px;
}

h1,h2,h3, p{
  margin: 0;
}

img{
  max-width: 100%;
  
}

section{
  padding: 20px;
}

header{
  background-color: #FFFFFF;
}

.nav-bar{
  width:550px;
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  box-shadow: 0px 20px 10px -15px #E5E5E5;
}

.logo-img{
  height: 30px;
}

.hero{
  display: flex;
  flex-direction: column;
}
.hero-img{
max-width: 400px;
align-self: center;
}

.hero-header, .hero-text, .experience-photos{
  padding-left: 30px;
}

.hero-header{
  margin-top: 30px;
  font-size: 36px;
  font-weight:600;
}

.hero-text{
  margin-top: 15px;
font-size: 16px;
font-weight: 300;
}

.experience-photos{
  display: flex;
  flex-direction: row;
  background-color: #FFFFFF;
  padding-top: 50px;
}

.experience-listing{
  display: flex;
  flex-direction: column;
  width: 175px;
  font-size: 12px;
}

.experience-img{
border-radius: 9px;
/* height: 235px; */
width: 100%;
}

.star-img{
  /* margin-top: 10px; */
  height: 14px;
  margin-right: 5px;
}

.grey{
  color: #918E9B;
}

.review-div{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-top: 10px;
}

.review-details{
  padding-left: 5px;
}

.experience-heading{
  margin-top: 10px;
}

.experience-price{
  margin-top: 10px;
}

.bold{
  font-weight: 700;
}

/* cat contact list  */

.contacts {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.contact-card {
  flex-basis: 225px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 13px;
  padding-bottom: 20px;
  background-color: white;
}

.contact-card > img {
  width: 100%;
  height: auto;
  align-self: center;
  border-radius: 5px;
  object-fit: cover;
}

.contact-card > h3 {
  font-weight: 700;
  font-size: 18px;
}

.info-group {
  display: flex;
  align-items: center;
}

.info-group > img {
  height: 11px;
  margin-right: 8px;
}

.info-group > p {
  margin-block: 3px;
  font-size: 12px;
  color: #2B283A;
}