body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #E5E5E5;
}

#root{
  width: 550px;
}

header{
  background-color: #FFFFFF;
}

.nav-bar{
  width:550px;
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  box-shadow: 0px 20px 10px -15px #E5E5E5;
}

.logo-img{
  height: 25px;
}

.hero-img{

}